.table {
    box-sizing: border-box;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid #ddd;
    border-bottom: 0;
}

.table th {
    padding: 20px 12px;
    font-weight: bold;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    background-color: #f1f1f1;
    border-bottom: 1px solid #dddddd;
    overflow-wrap: break-word;
}

.table th:last-child {
    border-right: 0;
}

.table th[scope='row'] {
    border-right: 1px solid #dddddd;
}

.table th[scope='col'] {
    border-right: 1px solid #dddddd;
}
.table th[scope='col']:last-child {
    border-right: 0;
}
.table td {
    padding: 20px 12px;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    overflow-wrap: break-word;
}
.table td:last-child {
    border-right: 0;
}

@media all and (max-width: 768px) {
    .flex-table thead tr {
        display: none;
    }

    .flex-table tr {
        display: flex;
        flex-wrap: wrap;
    }

    .flex-table td {
        display: flex;
        flex: 1;
    }
    
    .flex-table .tb-text-center {
        justify-content: center;
    }
    
    .flex-table .tb-text-right {
        justify-content: flex-end;
    }
    .flex-table colgroup {
        display: none;
    }
    .flex-table col {
        width: auto !important;
    }

    .flex-table .tb-full {
        flex: 0 1 100%;
        border-right: 0;
    }

    .flex-table .tb-none {
        display: none;
    }
}



/* div 테이블 */
.table-container.center {
    text-align: center;
}

.table-container .table-head {
    display: table;
    width: 100%;
}

.table-container .table-body {
}

.table-container .table-list {
    display: table;
    width: 100%
}

.table-container .table-head .table-item {
    background: #f1f1f1;
}

.table-container .table-item {
    display: table-cell;
    padding: 20px 12px;
}
